<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Soccer Training Availability</title>
</head>
<body>
<%- include('./partials/header.ejs') %>
<h1>Dynamic Training Sessions</h1>
<hr>
<div>
    <h2>One On One Dynamic Training Sessions</h2>
    <p>A personlized session for your player to develop their skills and game undestanding through experiential activities.</p>
</div>
<hr>
<div> 
    <h2>Small Dynamic Group Sessions</h2>
    <p>A personlized session that has technical focus, tactical awareness individually and as a team unit</p>
</div>
<hr>
<div>
    <h2>Large Dynamic Group/Team Sessions</h2>
    <p>A personlized session for a large group that allows for specific teamwork and tactical awareness</p>
</div>
<hr>
<div>
    <h2>Custom Group Dynamic Session</h2>
    <p>Discussed prior to final booking. Determine exact needs and wants.</p>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>